{% extends "base.html" %}

<!--Resume Page Header-->
{% block head %}
{% endblock %}

<!--Resume Page Body-->
{% block body %}
        <div class="flex items-start ml-0 justify-center flex-col w-screen">
            <div class="flex">
                <p class="bx bxs-book text-base"></p>
                <p class="text-content text-base">Education</p>
            </div>
                <li>item1</li>
                <li>item2</li>

            <div class="flex">
                <p class="bx bx-expand-horizontal text-base"></p>
                <p class="text-content text-base">Skills</p>
            </div>
                <li>item1</li>
                <li>item2</li>


            <p class="text-content">More Content Here</p>
            <p class="text-content">More Content Here</p>

        </div>
{% endblock %}